#personal-header.clearfix
  .social-header-left
    .social-home-text
      SOCIAL HOME
    .user-name-text
      Hey,
      = @user_name
  .social-header-right
    = image_tag "avatar.png", :class => "avatar-image"
