#social_interactions.clearfix
  %h1 Social Interactions
  No social interactions with #PopdeemTest found. Choose a reward to claim below, or refresh to find your actions!
  .button.button-default Refresh
